---
import clsx from "clsx";

type Props = {
  maxWidth?: string;
  class?: string;
};

const { maxWidth = "1280px", class: className, ...rest } = Astro.props;
---

<section
  style={`max-width: ${maxWidth};`}
  {...rest}
  class={clsx("flex w-full justify-center", className)}
>
  <slot />
</section>
