---
import { cn } from "@/lib/cn";

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<div
  class={cn(
    "relative flex items-center bg-[#131313] justify-center w-full group",
    className,
  )}
>
  <slot />
</div>
